[submodule "docker-aem"]
	path = docker-aem
	url = git@github.com:aem-design/docker-aem.git
[submodule "docker-aem-base"]
	path = docker-aem-base
	url = git@github.com:aem-design/docker-aem-base.git
[submodule "docker-ansible-playbook"]
	path = docker-ansible-playbook
	url = git@github.com:aem-design/docker-ansible-playbook.git
[submodule "docker-centos-java-buildpack"]
	path = docker-centos-java-buildpack
	url = git@github.com:aem-design/docker-centos-java-buildpack.git
[submodule "docker-centos-tini"]
	path = docker-centos-tini
	url = git@github.com:aem-design/docker-centos-tini.git
[submodule "docker-dispatcher"]
	path = docker-dispatcher
	url = git@github.com:aem-design/docker-dispatcher.git
[submodule "docker-java-ffmpeg"]
	path = docker-java-ffmpeg
	url = git@github.com:aem-design/docker-java-ffmpeg.git
[submodule "docker-jenkins"]
	path = docker-jenkins
	url = git@github.com:aem-design/docker-jenkins.git
[submodule "docker-jenkins-base"]
	path = docker-jenkins-base
	url = git@github.com:aem-design/docker-jenkins-base.git
[submodule "docker-nexus"]
	path = docker-nexus
	url = git@github.com:aem-design/docker-nexus.git
[submodule "docker-oracle-jdk"]
	path = docker-oracle-jdk
	url = git@github.com:aem-design/docker-oracle-jdk.git
[submodule "docker-dockerhub-description"]
	path = docker-dockerhub-description
	url = git@github.com:aem-design/docker-dockerhub-description.git
[submodule "docker-toughday"]
	path = docker-toughday
	url = git@github.com:aem-design/docker-toughday.git
[submodule "docker-travis-build-trigger"]
	path = docker-travis-build-trigger
	url = git@github.com:aem-design/docker-travis-build-trigger.git
