language: java
cache:
  directories:
    - '$HOME/.m2/repository'

if: tag is blank

git:
  submodules: false
  depth: false
  
services:
  - 'docker'

## Get the project version
before_deploy:
  - ./scripts/travis/get_version.sh
  - if [[ $TRAVIS_BRANCH == "master" ]] && [[ $(git tag -l $TRAVIS_TAG) == "" ]]; then git tag $TRAVIS_TAG; fi

## Create release in GitHub
deploy:
  provider: releases
  file:
    - scripts/travis/*.sh
  tag_name: $TRAVIS_TAG
  name: $TRAVIS_TAG
  target_commitish: $TRAVIS_COMMIT
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  on:
    branch: master
