language: java
cache:
  directories:
    - '$HOME/.m2/repository'

if: tag is blank

git:
  submodules: false
  depth: false
  
services:
  - 'docker'

script:
- echo "skipping all steps"

## Get the project version
before_deploy:
  - source ./scripts/travis/get_version.sh

## Create release in GitHub
deploy:
  - provider: releases
    edge: true
    tag_name: $TRAVIS_TAG
    name: $TRAVIS_TAG
    target_commitish: $TRAVIS_COMMIT
    api_key: $GITHUB_TOKEN
    skip_cleanup: true
    file_glob: true
    body: $GIT_RELEASE_NOTES
    file: scripts/**/*.sh
    on:
      branch: master
