language: java
cache:
  directories:
    - '$HOME/.m2/repository'

if: tag is blank

git:
  submodules: false
  depth: false
  
services:
  - 'docker'

## Get the project version
before_deploy:
  - ./scripts/travis/get_version.sh
  - if [[ $TRAVIS_BRANCH == "master" ]]; then git tag $TRAVIS_TAG; fi

## Create release in GitHub
deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    name: $TRAVIS_TAG
    skip_cleanup: true
    file_glob: true
    file: scripts/**/*
    on:
      branch: master
