language: java
cache:
  directories:
    - '$HOME/.m2/repository'

if: tag is blank

git:
  submodules: false
  depth: false
  
services:
  - 'docker'

## Get the project version
before_deploy:
  - source ./scripts/travis/get_version.sh
#  - if [[ $TRAVIS_BRANCH == "master" ]]; then echo "TAG REPO:$TRAVIS_TAG"; git tag $TRAVIS_TAG; git push --tags; fi

## Create release in GitHub
deploy:
  - provider: releases
    edge: true
    tag_name: $TRAVIS_TAG
    name: $TRAVIS_TAG
    target_commitish: $TRAVIS_COMMIT
    api_key: $GITHUB_TOKEN
    skip_cleanup: true
    file_glob: true
    body: $GIT_RELEASE_NOTES
    file: scripts/**/*
    on:
      branch: master
