name: build

on: [push]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: docker.io
      ORGANISATION_NAME: aemdesign
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - uses: actions/checkout@v2
      - name: set envirnment variables
        id: config
        run: |
          ./scripts/github/github_get_version.sh
          RELEASE_FILES=( $( ls ./scripts/**/*.sh ) )
          echo $RELEASE_FILES
          echo ::set-output name=RELEASE_FILES::${RELEASE_FILES}

      - uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.GITHUB_TAG }}
          name: ${{ env.GITHUB_TAG }}
          files: ${{ steps.config.outputs.RELEASE_FILES }}
          body: ${{ steps.config.outputs.GIT_RELEASE_NOTES }}
