name: build

on: [push]

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: docker.io
      ORGANISATION_NAME: aemdesign
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - uses: actions/checkout@v2
      - name: set envirnment variables
        id: config
        run: |
          ./scripts/github/github_get_version.sh
          RELEASE_FILES=( $( ls ./scripts/**/*.sh ) )
          echo $RELEASE_FILES
          echo ::set-output name=RELEASE_FILES::${RELEASE_FILES}

      - name: create release ${{ env.GITHUB_TAG }}
        if: github.ref == 'refs/heads/master'
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.GITHUB_TAG }}
          release_name: ${{ env.GITHUB_TAG }}
          body: ${{ steps.config.outputs.GIT_RELEASE_NOTES }}
          draft: false
          prerelease: false

      - uses: AButler/upload-release-assets@v2.0
        with:
          files: './scripts/**/*.sh'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ env.GITHUB_TAG }}
