name: build

on: [push]
# Allow one concurrent deployment
concurrency:
  group:  ci-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: docker.io
      ORGANISATION_NAME: aemdesign
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - uses: actions/checkout@v3
      - name: set envirnment variables
        id: config
        run: |
          ./scripts/github/github_get_version.sh
          RELEASE_FILES=( $( ls ./scripts/**/*.sh ) )
          echo $RELEASE_FILES
          RELEASE_FILES_HTML=$(echo $RELEASE_FILES | tr '\n' ' ')
          echo -e "text<<EOF\n$RELEASE_FILES_HTML\nEOF" >> $GITHUB_OUTPUT
#          echo "text=$message" >> $GITHUB_OUTPUT
#          echo "RELEASE_FILES=$(echo $RELEASE_FILES | tr '\n' ' ')" >> $GITHUB_OUTPUT

      - name: create release ${{ env.GITHUB_TAG }}
        if: github.ref == 'refs/heads/master'
        id: create_release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: ${{ steps.config.outputs.GIT_RELEASE_NOTES }}
          draft: false
          prerelease: false

      - uses: AButler/upload-release-assets@v2.0
        with:
          files: './scripts/**/*.sh;./scripts/**/*.ps1'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ env.GITHUB_TAG }}
